#container{
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    height: 80px;
    width: 100vw;
    #name-container{
        margin-right: 8px;
        width: 75%;
        
    }
    .vertical-line{
            }
}

#toolbar{
    display: flex;
    height: 80px;
}
#content{
    width: 75vw;
}
#button-wrapper{
    display: flex;
}