<div id=container>
    <div id="header">


        <mat-toolbar id="toolbar">
            <span id="name-container">
                <span id="name">Nokka</span>
                <mat-divider vertical class="vertical-line"></mat-divider>
            </span>
            <span id="button-wrapper">
                <button type="button" mat-button color='primary' extended>
                    O MNIE
                </button>
                <mat-divider vertical class="vertical-line"></mat-divider>
                <button type="button" mat-button color='primary' extended>
                    PROJEKTY
                </button>
                <mat-divider vertical class="vertical-line"></mat-divider>
                <button type="button" mat-button color='primary' extended>
                    KONTAKT
                </button>
            </span>
        </mat-toolbar>




    </div>
    <div id="content">
        <div id="carousel-container">
            <app-carousell></app-carousell>
        </div>
    </div>
</div>