#container{
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    #name-container{
        margin-right: 8px;
        width: 75%;
        
    }
    
}

#toolbar{
    display: flex;
    height: 80px;
}
#content{
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    // #description-container{
    //     width: 25%;
    // }

    #carousel-container{
        width: 100%;
        margin: 0px
    }
}
#button-wrapper{
    display: flex;
}

#carousel{
    display: block;
    
}