<div id=container>
    <div id="content">
        <!-- <div id="description-container">
            <h2>
                O MNIE
            </h2>
            <div id="description">
                Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Quia, quaerat. Veniam eius, minima consequatur
                dolorum atque vel
                temporibus odit eum unde aliquid ipsum architecto nostrum accusantium libero
                voluptatibus laboriosam. Est?
                Soluta necessitatibus esse adipisci facere perspiciatis natus? Pariatur laboriosam distinctio nam! Eius,
                labore dolorum ipsa hic modi illo sunt aliquam consequuntur id quaerat voluptas rerum nam assumenda
                laudantium, cumque voluptatibus!
                Tenetur eius aut facilis repellendus distinctio similique repudiandae nam! Quidem voluptatum error nobis
                aspernatur animi. Voluptate commodi ad sapiente architecto suscipit, officia, quas possimus voluptas
                delectus corporis cupiditate vero culpa?
            </div>
        </div> -->

        
        <div id="carousel-container">
            <app-carousell id="carousel"></app-carousell>
        </div>
    </div>
    <div id="header">


        <mat-toolbar id="toolbar">
            <span id="name-container">
                <span id="name">Nokka</span>
                <mat-divider vertical class="vertical-line"></mat-divider>
            </span>
            <span id="button-wrapper">
                <button type="button" mat-button color='primary' extended>
                    O MNIE
                </button>
                <mat-divider vertical class="vertical-line"></mat-divider>
                <button type="button" mat-button color='primary' extended>
                    PROJEKTY
                </button>
                <mat-divider vertical class="vertical-line"></mat-divider>
                <button type="button" mat-button color='primary' extended>
                    KONTAKT
                </button>
            </span>
        </mat-toolbar>




    </div>
    
</div>